<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>AO3 Year in Review</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>


    <h1>
      AO3 Year in Review 
    </h1>
    
    <p>
    This webapp downloads the data from your Archive Of Our Own history for a particular year and produces a summary of what you read (total words read, most visited fics, most common ships and tags, etc). It also generates a spreadsheet that you can download to see your reading history in more detail.</p>



    <div id="content">
    <p>
      <a href="{{ url_for('instructions') }}">Instructions</a> | <a href="{{url_for('technical')}}">Technical Details</a> | <a href="{{ url_for('contact') }}">Contact</a>
    </p>

    
    <form method="post" action="/form_result">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="Password">Password:</label>
        <input type="text" id="password" name="password"><br><br>
        <label for="year">Year:</label>
        <select name="year" id="year">
            <!--<option value="2021">2021</option>-->
            <option value="2020">2020</option>
<!--            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>-->
        </select><br><br>
      <input type="submit" name="submit" value="Get Results">
    </form>
  </div>
  </body>
</html>
