<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AO3 Year in Review</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <h1>
      Instructions
    </h1>

    <h2>
      Provide Your AO3 Login Info
    </h2>

    <p>
      In order to retrieve your stats from AO3, you will need to provide your AO3 username and password. This information is used once to access your specific AO3 history, and is not stored or saved in any way. 
    </p>

    <h2>
      Wait for App to Run
    </h2>

    <p>
      The app has to load every page in your history for the specified year in
      order to collect the relevant data to build a summary. This takes time,
      especially if you read a lot of fics that year. It may take 5 minutes or
      more to download 100 pages of history, for example.
    </p>

    <p>The app has a limited capacity to handle multiple requests simultaneously. Please be patient if it is taking a while to get your results!</p>


    <a href="{{ url_for('home') }}">Return to main page</a>
  </body>
</html>
