<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AO3 Year in Review</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <h1>
      No history
    </h1>

    <p>
        Your account does not appear to contain any history. Please check that Viewing History is enabled in your account preferences. If you have just enabled Viewing History, you will need to read some fics and come back later when your stats have been updated.
    </p>
    
    <a href="{{ url_for('home') }}">Return to main page</a>
        
  </body>
</html>
