<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AO3 Year in Review</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <h1>
      Try again later
    </h1>

    <p>
        There are currently {{qlen}} users waiting for their results, so your results cannot be retrieved at this time. Please wait at least 5-10 minutes before trying again in order to keep wait times low for everyone. Thanks for your patience! 
    </p>
    
    <a href="{{ url_for('home') }}">Return to main page</a>
        
  </body>
</html>
