<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AO3 Year in Review</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <h1>
      Technical Details
    </h1>

    <p>This app uses the information stored in your AO3 history, so it won't work if you don't have your history enabled. If you read a fic while not logged in to your AO3 account, it will not show up in your history and therefore won't be included in your reading summary.</p>
      
     <p>A work counts as "read" according to your AO3 history the minute you open the work, even if you don't actually read it. There may be some overcounting in your reading stats as a result. </p>

     <p>Top fandoms, tags, ships, fics, etc. are all defined as the most frequent based on the number of visits in your AO3 history, meaning that re-reads of a fic count towards these numbers. However, since multi-chapter fics (appear to) count 1 visit for each chapter opened, these counts have been discounted (by dividing the number of visits in the history by the number of chapters in the work).</p>

    <a href="{{ url_for('home') }}">Return to main page</a>
  </body>
</html>
