<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AO3 Year in Review</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <h1>
      Timeout 
    </h1>

    <p>
        Your results could not be retrieved due to a timeout issue. Please wait 10 minutes before trying again. If you experience this issue multiple times, contact <a href="mailto:winglavender@gmail.com">winglavender@gmail.com</a> for more information.
    </p>
    
    <a href="{{ url_for('home') }}">Return to main page</a>
        
  </body>
</html>
