<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AO3 Year in Review</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <h1>
      Timeout 
    </h1>

    <p>
        Your results could not be retrieved due to a timeout issue. If your 2021-2020 reading history exceeds a couple hundred pages, the app may not be able to retrieve your results within the time limit, even if you try requesting your results again. This limitation was necessary so that the app doesn't overwhelm AO3 with requests and everyone has a chance to request their results.
    </p>
    
    <a href="{{ url_for('home') }}">Return to main page</a>
        
  </body>
</html>
